<%- include('includes/head.ejs') %>
<main>
  <% if (prods.length>0) { %>
  <h1>My products</h1>
  <ul>
    <% for(let product of prods){ %>
    <li><h3><%=product.title%></h3></li>
    <% } %>
  </ul>
  <% } else {%>
  <h1>No products found</h1>
  <% }%>
</main>
<%- include('includes/end.ejs') %>
